#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

#quote-body {
  display: flex;
  justify-content: center;
}